In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./location_extractor/data/GeoLite2-City-CSV_20200303/GeoLite2-City-Locations-en-processed.csv')

In [46]:
df[df.country_name.str.lower().fillna("").str.contains('syr')]

,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_name,city_name,is_in_european_union
256,en,AS,Asia,SY,Syria,Idlib Governorate,Idlib,False
257,en,AS,Asia,SY,Syria,Aleppo Governorate,Aleppo,False
258,en,AS,Asia,SY,Syria,Damascus Governorate,Damascus,False
259,en,AS,Asia,SY,Syria,Latakia Governorate,Latakia,False
260,en,AS,Asia,SY,Syria,As-Suwayda Governorate,Ad Darah,False

In [44]:
df.continent_name.drop_duplicates().values

array(['Europe', 'Africa', 'Asia', 'Oceania', 'North America',
       'South America'], dtype=object)

In [ ]:
df.continent_name.drop_duplicates().values